body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  /* Personal CSS =================================================================== */

  .block {
    height: 80px;
    display: flex;
    margin-top: 1px;
  }
  
  .block-time {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background: white;
    height: 100%;
    width: 100px;
    padding-left: 30px;
    padding-top: 20px;
  }
  
  .block-desc {
    border: none;
    background: lightgrey;
    width: calc(100% - 200px);
  }
  
  .block-save {
    border: none;
    width: 100px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    font-size: 15px;
    color: white;
  }

  .block-save:hover {
    font-size: 30px;
    transition: all 0.3s ease-in-out;
  }